<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <script src="js/"></script>

    <link rel="stylesheet" href="css/reset.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/profile.css">

    <title>HOLA BEBE</title>
</head>
<body>
<div id="contenedor"></div>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1"><span
                                class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                                class="icon-bar"></span><span class="icon-bar"></span></button>
                    <a class="navbar-brand" href="/index">Nodibrary</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" id="navbar">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#">Biblio</a>
                        </li>
                        <li>
                            <a href="#">Lists</a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= user.local.email %><strong
                                        class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/profile">Profile</a>
                                </li>
                                <li>
                                    <a href="#">Messages</a>
                                </li>
                                <li>
                                    <a href="#">Your Music</a>
                                </li>
                            </ul>
                        </li>
                        <li id="logout">
                            <a href="/logout" class="glyphicon glyphicon-off" title="Logout"></a>
                        </li>
                    </ul>
                </div>

            </nav>
        </div>
    </div>

    <div class="row">

        <div class="[ col-sm-6 col-md-4 ]">
            <div class="[ info-card ]">
                <img style="width: 100%" src="http://api.randomuser.me/portraits/women/45.jpg" />
                <div class="[ info-card-details ] animate">
                    <div class="[ info-card-header ]">
                        <h1> Caroline Samantha Henderson </h1>
                        <h3> aka not a real person </h3>
                    </div>
                    <div class="[ info-card-detail ]">
                        <!-- Description -->
                        <p>People often say that beauty is in the eye of the beholder, and I say that the most liberating thing about beauty is realizing that you are the beholder. This empowers us to find beauty in places where others have not dared to look including inside ourselves.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>